<section class="main-section">
    <div class="header">
        <h3>Add students details</h3>
        <form class="students-form" [formGroup]="studentservice.studentForm">
            <mat-grid-list cols="2" rowHeight="500px">
                <mat-grid-tile>
                    <div class="form-controller">
                        <mat-form-field>
                            <input formControlName="name" matInput placeholder="Enter Name"[(ngModel)]="studentData.name">
                            <mat-error *ngIf="studentservice.studentForm.controls['name'].errors?.required">The field is required</mat-error>
                            <mat-error *ngIf="studentservice.studentForm.controls['name'].errors?.maxLength">The field can only have 56 characters</mat-error>
                        </mat-form-field>
                        <mat-form-field>
                            <input formControlName="email" matInput placeholder="Enter email" email [(ngModel)]="studentData.email">
                            <mat-error *ngIf="studentservice.studentForm.controls['email'].errors?.maxLength">email should be less than 112 words</mat-error>
                            <mat-error>Invalid email</mat-error>
                        </mat-form-field>
                        <mat-form-field>
                            <input formControlName="mobile" matInput placeholder="Enter Mobile" [(ngModel)]="studentData.mobile">
                            <mat-error *ngIf="studentservice.studentForm.controls['mobile'].errors?.required">The field is required</mat-error>
                            <mat-error *ngIf="studentservice.studentForm.controls['mobile'].errors?.maxLength">Number should be less than 10 digits</mat-error>
                            <mat-error *ngIf="studentservice.studentForm.controls['mobile'].errors?.minLength">Number should be atleast 10 digits</mat-error>
                            <mat-error *ngIf="studentservice.studentForm.controls['mobile'].errors?.pattern">Phone number should be in digits only</mat-error>
                        </mat-form-field>
                        <mat-form-field>
                            <input formControlName="dob" matInput placeholder="Enter Date of birth" [matDatepicker]="picker" [(ngModel)]="studentData.dob">
                            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                            <mat-datepicker #picker></mat-datepicker>
                            <mat-error *ngIf="studentservice.studentForm.controls['dob'].errors?.minLength">Invalid date</mat-error>
                        </mat-form-field>
                        <mat-form-field>
                            <mat-select formControlName="gender" placeholder="Gender" [(ngModel)]="studentData.gender">
                                <mat-option>None</mat-option>
                                <ng-container *ngFor="let gender of gendersList">
                                    <mat-option value="{{gender.value}}">{{gender.name}}</mat-option>
                                </ng-container>
                                </mat-select>
                        </mat-form-field>
                        <div class="button-row">
                            <button mat-raised-button color="primary" type="submit" [disabled]="studentservice.studentForm.invalid" *ngIf="!isEdit" (click)="onSubmit(studentservice.studentForm.value)">Submit</button>
                            <button mat-raised-button color="primary" type="submit" *ngIf="isEdit" (click)="onUpdate(studentData)">Update</button>
                            <button mat-raised-button color="warn" (click)="onClear()">Clear</button>
                          </div>
                    </div>
                </mat-grid-tile>
            </mat-grid-list>
        </form>
    </div>
    <div class="content">
        <table mat-table [dataSource]="studentsMasterList" class="mat-elevation-z8">
            <!-- ID  -->
            <ng-container matColumnDef="$id">
                <th mat-header-cell *matHeaderCellDef>ID </th>
                <td mat-cell *matCellDef="let element"> {{element.id}} </td>
            </ng-container>
            <!-- name column  -->
            <ng-container matColumnDef="name">
                <th mat-header-cell *matHeaderCellDef>Name </th>
                <td mat-cell *matCellDef="let element"> {{element.name}} </td>
            </ng-container>
            <!-- email column -->
            <ng-container matColumnDef="email">
                <th mat-header-cell *matHeaderCellDef>Email </th>
                <td mat-cell *matCellDef="let element"> {{element.email}} </td> 
            </ng-container>
            <!-- mobile column -->
            <ng-container matColumnDef="mobile">
                <th mat-header-cell *matHeaderCellDef>Mobile </th>
                <td mat-cell *matCellDef="let element"> {{element.mobile}} </td> 
            </ng-container>
            <!-- date of birth  column-->
            <ng-container matColumnDef="dob">
                <th mat-header-cell *matHeaderCellDef>DOB </th>
                <td mat-cell *matCellDef="let element"> {{element.formattedDob}} </td> 
            </ng-container>
            <!-- gender column -->
            <ng-container matColumnDef="gender">
                <th mat-header-cell *matHeaderCellDef>Gender </th>
                <td mat-cell *matCellDef="let element"> {{element.gender}} </td> 
            </ng-container>
            <ng-container matColumnDef="update">
                <th mat-header-cell *matHeaderCellDef></th>
                <td mat-cell *matCellDef="let element">
                    <button mat-button color="primary" (click)="updateStudentData($event)">Update</button>
                </td> 
            </ng-container>
            <ng-container matColumnDef="delete">
                <th mat-header-cell *matHeaderCellDef></th>
                <td mat-cell *matCellDef="let element">
                    <button mat-button color="primary" (click)="deleteStudent($event)">Delete</button>
                </td> 
            </ng-container>
            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;" (click)="highlight(row,$event)">
            </tr>
        </table>
    </div>
</section>